body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-y: hidden !important;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Custom Fonts */
@font-face {
  font-family: "komikax";
  src: url("/fonts/KOMIKAX_.ttf") format("truetype"); /* Correct format for broad compatibility */
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Ensures better loading behavior */
}
@font-face {
  font-family: "mochi";
  src: url("/fonts/MochiyPopOne-Regular.ttf") format("truetype"); /* Correct format */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Header */
.header {
  position: relative;
  height: 81px;
  width: 88%;
  margin: 0 auto;
}

/* Typography */
h2,
a {
  font-family: "komikax", sans-serif;
}
p,
h3,
h4 {
  font-family: "mochi", sans-serif;
}

/* Welcome Page Title */
.wlTtl {
  color: #fff; /* Replace text-fill-color for better compatibility */
  font-size: 80px;
  margin-bottom: 40px;
  text-shadow: 2px 2px 4px black; /* Replace text-stroke for better browser support */
}

/* Navbar */
.navIcon {
  width: 48px;
}
.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
  font-size: 1.2rem;
}
.navbar a:hover {
  text-decoration: underline;
}
li {
  padding: 0 !important;
  margin: 0 !important;
}
.navBtn {
  width: 196px;
  margin-right: 14px;
}

/* Fullscreen Sections */
.slide {
  width: 100vw;
  height: 100vh;
}

/* Wrapper and Scrollbar Styling */
.wrapper {
  width: 300vw;
  display: flex;
  flex-direction: row;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.outer-wrapper {
  width: 100vh;
  height: 100vw;
  top: 0;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer */
}
body::-webkit-scrollbar,
::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
/* Section Backgrounds */
.section1 {
  background-image: url(/images/bg1.png);
  background-size: cover;
  background-position: 100% 70%;
}

.section2 {
  background-image: url(/images/bg2.png);
  background-size: cover;
  background-position: 100% 70%;
}

.section3 {
  background-image: url(/images/bg3.png);
  background-size: cover;
  background-position: 100% 70%;
}

/* Modal Styles */
canvas {
  filter: blur(1px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  display: block; /* Initially visible */
  position: fixed;
  z-index: 10000000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Prevent scrolling */
  background: linear-gradient(rgba(0, 0, 0, 0.594), rgba(0, 0, 0, 0.616)),
    url(/images/overbg.png) no-repeat center center / cover;
}

.cta_btn {
  outline: none;
  border: none;
  padding: 7px 30px;
  background-color: red;
  color: #fff;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
}

.no_btn {
  background-color: blue;
  margin-left: 10px;
  cursor: pointer;
}

.no_btn:hover {
  color: #fff !important;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Responsive width */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

#main {
  display: none;
}

/* Text Box Styling */
.homeTxt {
  position: absolute;
  top: 18%;
  right: 18%;
  background-color: rgba(255, 191, 30, 0.85);
  border: 2px solid #191919;
  width: 276px;
  height: 278px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 8px;
  transition: all 0.5s ease;
}

.homeTxt h3,
.secondTxt h3,
.thirdTxt h3 {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  line-height: 26px;
  color: #fff;
  padding: 0 16px;
}

/* Section Designs */
.treePos2 {
  position: absolute;
  left: -67px;
  top: 0;
  width: 500px;
  height: 100vh;
}

.treePos3 {
  position: absolute;
  left: -50px;
  top: 0;
  width: 53px;
  height: 100vh;
}

.secondTxt {
  background-color: rgba(255, 191, 30, 0.85);
  border: 2px solid #191919;
  width: 525px;
  height: 155px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 8px;
  position: absolute;
  top: 30%;
  right: 42%;
}

.thirdTxt {
  background-color: rgba(255, 191, 30, 0.85);
  border: 2px solid #191919;
  width: 489px;
  height: 148px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 8px;
  position: absolute;
  top: 23%;
  right: 5%;
}

/* Scroll to Explore */
.scroll_text {
  position: absolute;
  left: calc(44%);
  top: 88vh;
  cursor: pointer;
}

.scroll-btn {
  position: absolute;
  left: calc(50% - 16px);
  top: 76vh;
  cursor: pointer;
  animation: scroll-btn 1s ease-in-out alternate infinite;
}

.scroll-btn svg {
  fill: #000;
  height: 50px;
  width: 32px;
  margin-bottom: 10px;
}

.scroll-btn .animated {
  animation: scroll-down 2s infinite linear;
}

.scroll-btn .ball {
  animation: ball-move 1s infinite ease-in-out alternate;
}

/* Keyframe Animations */
@keyframes scroll-down {
  0% {
    stroke-dasharray: 0, 180px;
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    stroke-dasharray: 215.7737px, 363.607px;
    opacity: 0.8;
  }
  70%,
  100% {
    opacity: 0;
  }
}

@keyframes ball-move {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(16px);
    opacity: 0;
  }
}
/* Dropdown Styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  backdrop-filter: blur(5px); /* Adds a blur effect */
  z-index: 999; /* Ensures it appears above other elements */
  display: none; /* Initially hidden */
}

.dropdown {
  position: absolute;
  top: 37px;
  right: -65%;
  width: 320px;
  height: 450px;
  background: url(/images/drop.png) no-repeat center center / cover;
  z-index: 1000;
  border-radius: 8px;
  border: 2px solid #191919;
  padding: 14px;
  display: none; /* Hidden by default */
}

.dropdown.active {
  display: flex; /* Shows dropdown when active */
}

.dropdown-content {
  border-radius: 8px;
}

.dropdown-content h2 {
  margin: 0 0 10px;
}

.dropdown-content p {
  margin: 0 0 20px;
}

.dropdown-content button {
  background-color: #007bff; /* Blue color */
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-content button:hover {
  background-color: #0056b3; /* Darker blue for hover effect */
}

img.mobBuy {
  width: 148px;
  height: 45px;
}

.dropHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 39px;
  padding: 0 10px;
}

img.closeBtn {
  width: 100%;
}

img.dropLogo {
  text-align: left;
  width: 197px;
  margin-top: 1px;
}

ul.dropNav {
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-right: 12px;
}

.dropNav li a,
.para {
  color: #000000; /* Use color instead of text-fill-color for compatibility */
  text-shadow: 1px 1px 2px #facb28; /* Replacement for text-stroke */
  font-size: 21px;
  display: block;
  margin-top: 17px;
  text-decoration: none;
  padding-left: 17px;
}

img.mobTg {
  width: 52px;
  margin-right: 5px;
}

img.mobTg,
.mobTwitter {
  width: 52px;
}

/* Navbar Styles */
.navbar {
  position: fixed;
  top: 11px;
  background: url(/images/NAV.png) no-repeat center center / cover;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 10000;
  height: 71px;
  width: 80%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  margin: 0 auto;
  border: 2px solid #000;
}

.navbar .brand {
  display: flex;
  align-items: center;
}

.navbar .brand img {
  width: 182px;
  height: auto;
}

.navbar .audioBtn {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.navbar .audioBtn img {
  width: 43px;
  height: auto;
}

.navbar .nav-links {
  display: flex;
  gap: 15px;
  align-items: center;
}

.navbar .nav-links a,
.navbar .nav-links button {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.navbar .nav-links img {
  width: 47px;
  height: auto;
}

.navbar .burger-btn {
  display: none; /* Initially hidden */
  background: none;
  border: none;
  cursor: pointer;
}

.navbar .burger-btn img {
  width: 25px;
  height: auto;
}

.disBlock {
  display: none;
}

.popup_cont {
  height: 100vh;
  overflow-y: hidden !important;

  /* Hides scrollbar for Firefox */
  scrollbar-width: none;

  /* Hides scrollbar for Internet Explorer and Edge */
  -ms-overflow-style: none;

  /* Hides scrollbar for Chrome, Safari, and other WebKit-based browsers */
  overflow: hidden;
}

.popup_cont::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and WebKit-based browsers */
}

/* Ninja Animation */
.ninjaAnim {
  position: absolute;
  left: 31%;
  top: 9%;
  z-index: 10000000000;
  width: 408px;
}

/* Responsive Design */
@media screen and (max-width: 1500px) {
  .navbar {
    width: 90%; /* Adjusted for smaller screens */
  }
}

/****************** Responsive Code ***************/
@media screen and (max-width: 768px) {
  .modal {
    background: linear-gradient(rgba(0, 0, 0, 0.594), rgba(0, 0, 0, 0.616)),
      url(/images/mobOver.png) no-repeat center center / cover;
    overflow-y: hidden !important; /* Prevent vertical scrolling */
  }

  .section1 {
    background: url(/images/mb1.png) no-repeat center center / cover;
  }

  /* Section Two Design */
  .section2 {
    background: url(/images/mb2.png) no-repeat center center / cover;
  }

  /* Section Three Design */
  .section3 {
    background: url(/images/mb3.png) no-repeat center center / cover;
  }

  /* Default Wrapper Styles */
  .homeTxt {
    right: 55%;
    display: none;
  }

  .secondTxt {
    top: 30%;
    right: 18%;
  }

  .slide {
    width: 200vw;
    height: 100vh;
  }

  .ninjaAnim {
    position: absolute;
    left: 4%;
    top: 19%;
    z-index: 10000000000;
    width: 408px;
  }

  .thirdTxt {
    background-color: rgba(255, 191, 30, 0.85); /* Semi-transparent */
    border: 2px solid #191919;
    width: 352px;
    height: 216px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 8px;
    position: absolute;
    top: 19%;
    right: 19%;
  }

  .secondTxt {
    background-color: rgba(255, 191, 30, 0.85);
    border: 2px solid #191919;
    width: 385px;
    height: 204px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border-radius: 8px;
    position: absolute;
    top: 36%;
    right: 18%;
  }

  .wrapper {
    width: 600vw;
    display: flex;
    flex-direction: row;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }

  .header {
    position: relative;
    height: 81px;
    width: 98%;
    margin: 0 auto;
  }

  .disn {
    display: none;
  }

  .disBlock {
    display: block;
  }

  .navbar {
    position: fixed;
    top: 24px;
    background: url(/images/NAV.png) no-repeat center center / cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 99999;
    height: 81px;
    flex-wrap: nowrap !important;
    width: 97%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    margin: 0 auto;
    border: 2px solid #000;
  }

  .navbar .nav-links img {
    width: 38px;
    height: auto;
  }

  .navbar .brand img {
    width: 171px;
    height: auto;
  }

  .dropdown {
    position: static;
    top: 37px;
    right: -6px;
    width: 320px;
    height: 450px;
    background: url(/images/drop.png) no-repeat center center / cover;
    z-index: 1000;
    border-radius: 8px;
    border: 2px solid #191919;
    padding: 14px;
    display: none;
    left: 8%;
  }

  .scroll-btn {
    position: absolute;
    left: calc(25%);
    top: 76vh;
    cursor: pointer;
    animation: scroll-btn 1s ease-in-out alternate infinite;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .scroll_text {
    position: absolute;
    left: calc(17%);
    top: 88vh;
    cursor: pointer;
  }
}
