body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-y: hidden !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* custom font  */
@font-face {
  font-family: "komikax";
  src: url("/fonts/KOMIKAX_.ttf") format("woff2"),
    url("/fonts/KOMIKAX_.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "mochi";
  src: url("/fonts/MochiyPopOne-Regular.ttf") format("woff2"),
    url("/fonts/MochiyPopOne-Regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
.header {
  position: relative;
  height: 81px;
  width: 88%;

  margin: 0 auto;
}
h2,
a {
  font-family: "komikax", sans-serif;
}
p,
h3,
h4 {
  font-family: "mochi", sans-serif;
}

/* welcome page design */
.wlTtl {
  text-fill-color: #fff;
  text-stroke: 4px black;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke: 4px black;
  -moz-text-fill-color: #fff;
  font-size: 80px;
  margin-bottom: 40px;
}

/* navbar design */
.navIcon {
  width: 48px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
  font-size: 1.2rem;
}

.navbar a:hover {
  text-decoration: underline;
}
li {
  padding: 0 !important;
  margin: 0 !important;
}
.navBtn {
  width: 196px;
  /* height: 58px; */

  margin-right: 14px;
}
.slide {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  width: 300vw;
  display: flex;
  flex-direction: row;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  top: 0;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}
/* section one design */
.section1 {
  background-image: url(/images/bg1.png);
  background-size: cover;
  background-position: 100% 70%;
}

/* section two design */
.section2 {
  background-image: url(/images/bg2.png);
  background-size: cover;
  background-position: 100% 70%;
}

/* section three design */
.section3 {
  background-image: url(/images/bg3.png);
  background-size: cover;
  background-position: 100% 70%;
}

/* Modal CSS */
canvas {
  filter: blur(1px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-image: linear-gradient(rgba(0, 0, 0, 0.594), rgba(0, 0, 0, 0.616)),
    url(/images/overbg.png);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  overflow-y: hidden !important;
}
.cta_btn {
  outline: none;
  border: none;
  padding: 7px 30px;
  background-color: red;
  color: #fff;
  font-size: 16px;
  border-radius: 30px;
}
.no_btn {
  background-color: blue;
  margin-left: 10px;
}
.no_btn:hover {
  color: #fff !important;
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#main {
  display: none; /* Hidden by default */
}

/* home page design */
.homeTxt {
  position: absolute;
  top: 22%;
  right: 22%;
  background-color: #ffd9729f;
  border: 2px solid #191919;
  width: 284px;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 8px;
}
.homeTxt h3,
.secondTxt h3,
.thirdTxt h3 {
  text-fill-color: #fff;
  text-stroke: 1px black;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke: 1px black;
  -moz-text-fill-color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 26px;
  /* width: 251px; */
  padding: 0 16px;
}

.treePos2 {
  position: absolute;
  left: -67px;
  top: 0;
  width: 500px;
  left: -1;
  height: 100vh;
}
.treePos3 {
  position: absolute;
  left: -50px;
  top: 0;
  width: 53px;
  left: -1;
  height: 100vh;
}

/* second section design */
.secondTxt {
  background-color: #ffd9729f;
  border: 2px solid #191919;
  width: 525px;
  height: 155px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 8px;
  position: absolute;
  top: 30%;
  right: 42%;
}

.thirdTxt {
  background-color: #ffd9729f;
  border: 2px solid #191919;
  width: 570px;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 8px;
  position: absolute;
  top: 30%;
  right: 10%;
}
/* scroll to explore */

.scroll_text {
  position: absolute;
  left: calc(44%);
  top: 88vh;
  cursor: pointer;
}
.scroll-btn {
  position: absolute;
  left: calc(50% - 16px);
  top: 76vh;
  cursor: pointer;
  animation: scroll-btn 1s ease-in-out alternate infinite;

  svg {
    fill: #000;
    height: 50px;
    width: 32px;
    margin-bottom: 10px;
    .animated {
      animation: scroll-down 2s infinite linear;
    }
    .ball {
      animation: ball-move 1s infinite ease-in-out alternate;
    }
  }
}

@keyframes scroll-down {
  0% {
    stroke-dasharray: 0, 180px;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.8;
    stroke-dasharray: 215.7737px, 363.607px;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes ball-move {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(16px);
    opacity: 0;
  }
}

/* drop down styles */

/* Dropdown styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Black with opacity */
  backdrop-filter: blur(5px); /* Blurry effect */
  z-index: 999; /* Ensure it's above everything else */
  display: none; /* Hidden by default */
}
.dropdown {
  position: absolute;
  top: 37px;
  right: -65%;
  width: 320px;
  height: 450px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-image: url(/images/drop.png);
  background-repeat: no-repeat;
  background-size: cover;

  z-index: 1000;
  border-radius: 8px;
  border: 2px solid #191919;
  padding: 14px;
  display: none;
}
.dropdown.active {
  display: flex;
}

.dropdown-content {
  border-radius: 8px;
}

.dropdown-content h2 {
  margin: 0 0 10px;
}

.dropdown-content p {
  margin: 0 0 20px;
}

.dropdown-content button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-content button:hover {
  background-color: #0056b3;
}
img.mobBuy {
  width: 148px;
  height: 45px;
}
.dropHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 39px;
  padding: 0 10px;
}
img.closeBtn {
  width: 100%;
}
img.dropLogo {
  text-align: left;
  width: 197px;
  margin-top: 1px;
}
ul.dropNav {
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-right: 12px;
}

.dropNav li a,
.para {
  text-fill-color: #000000;
  text-stroke: 4px #facb28;
  -webkit-text-fill-color: #000000;
  -webkit-text-stroke: 1px #facb28;
  -moz-text-fill-color: #000;
  font-size: 21px;
  display: block;
  margin-top: 17px;
  text-decoration: none;
  padding-left: 17px;
}
img.dropLogo {
  text-align: left;
  width: 197px;
  margin-top: 1px;
  margin-left: 10px;
}
img.mobTg {
  width: 52px;
  margin-right: 5px;
}
img.mobTg,
.mobTwitter {
  width: 52px;
}
/* new custom navbar */
.navbar {
  position: fixed;
  top: 24px;
  background-image: url(/images/NAV.png);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 10000;
  height: 81px;
  width: 80%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  margin: 0 auto;
  border: 2px solid #000;
  box-shadow: 0 6px 1px #000;
  padding: 0 40px !important;
}
.navbar .brand {
  display: flex;
  align-items: center;
}

.navbar .brand img {
  width: 182px;
  height: auto;
}
.navbar .audioBtn {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.navbar .audioBtn img {
  width: 43px;
  height: auto;
}
.navbar .nav-links {
  display: flex;
  gap: 15px;
  align-items: center;
}

.navbar .nav-links a,
.navbar .nav-links button {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.navbar .nav-links img {
  width: 47px;
  height: auto;
}

.navbar .burger-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar .burger-btn img {
  width: 25px;
  height: auto;
}
.disBlock {
  display: none;
}
.popup_cont {
  height: 100vh;
  overflow-y: hidden !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
/* .mainHeight {
  height: 130vh;
  overflow-x: hidden;
} */
@media screen and (max-width: 1500px) {
  /* .mainHeight {
    height: 100vh;
  } */
}

/******************responsive code***************/
@media screen and (max-width: 768px) {
  .homeTxt {
    right: 55%;
  }
  .secondTxt {
    top: 30%;
    right: 18%;
  }
  .slide {
    width: 200vw;
    height: 100vh;
  }
  .thirdTxt {
    top: 41%;
    right: 7%;
  }
  .wrapper {
    width: 600vw;
    display: flex;
    flex-direction: row;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }
  .header {
    position: relative;
    height: 81px;
    width: 98%;

    margin: 0 auto;
  }
  .disn {
    display: none;
  }
  .disBlock {
    display: block;
  }

  .navbar {
    position: fixed;
    top: 24px;
    background-image: url(/images/NAV.png);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 10000;
    height: 81px;
    flex-wrap: nowrap !important;
    width: 97%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    margin: 0 auto;
    border: 2px solid #000;
    box-shadow: 0 6px 1px #000;
    padding: 0 19px !important;
  }
  .navbar .nav-links img {
    width: 38px;
    height: auto;
  }
  .navbar .brand img {
    width: 171px;
    height: auto;
  }
  .dropdown {
    position: static;
    top: 37px;
    right: -6px;
    width: 320px;
    height: 450px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-image: url(/images/drop.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000;
    border-radius: 8px;
    border: 2px solid #191919;
    padding: 14px;
    display: none;
    left: 8%;
  }
  .scroll-btn {
    position: absolute;
    left: calc(25%);
    top: 76vh;
    cursor: pointer;
    animation: scroll-btn 1s ease-in-out alternate infinite;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .scroll_text {
    position: absolute;
    left: calc(17%);
    top: 88vh;
    cursor: pointer;
  }
  /* .mainHeight {
    height: 100vh;
  } */
}
